body {
	font-family: sans-serif;
	margin: 20px 50px 30px 50px;
	width: 900px;
	line-height: 150%;
	text-align: justify;
	padding-right: 50px;
}

.next {
	display: flex;
	align-items: center;
}

.right {
	padding-top: 15px;
	padding-left: 25px;
	margin: auto;
}

.undertitle {
	padding-left: 20px
}

.text-block {
	background: #f8f9fa;
	padding: 15px;
	border-radius: 6px;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.separator {
    color: #aaa;
}

p {
	margin-bottom: 25px
}

a {
	text-decoration: none
}

a:link           { color: #0000e6 }
a:visited        { color: #0000e6 }
a:hover, a:focus { color: #000080 }
a:active         { color: #00c }
